<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Boleta</title>
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/factura.css">
	<script src="../../lib/jquery-3.2.0.min.js"></script>

	<script>
	  
function toArray(data) {
    var datos=[];
    var pos=0;
    for (i = 0; i<data.length; i++){
	if(data[i]==',' || i+1==data.length){
		if(i+1==data.length){
			i=i+1
		}	    
	    datos.push(data.substring(pos,i));
	    pos=i+1;
	}	       }
    return datos;
}


function nuevoItem() {
    	var $div = $('tr[id^="item"]:last');
	var num = parseInt( $div.prop("id").match(/\d+/g), 10 ) +1;
	var numS=num.toString();	
	var numA=num-1;
	numA=numA.toString();
    $( "#item1" ).clone().attr('id','item'+numS).insertAfter( "#item"+numA);
    return num;
}
$(document).ready(function() {
	console.log('asdsa');
	var datosDoc=[]
    $.ajax({
	url : "actual.txt",
	dataType: "text",
	success : function (data) {
	    $(".text").html(data);
	    var nuevo=data;
	    datosDoc=toArray(nuevo);
    	$("#nombre").append(datosDoc[0]);
    	$("#direccion").append(datosDoc[1]);
    	$("#ruc").append(datosDoc[2]);
    	$("#fecha").append(datosDoc[3]);
    	$("#total").append(datosDoc[4]);
    	for(i=0;i<8;i++){
    		nuevoItem();
    	}
    	var numItem=1;
    	for(i=6;i<datosDoc.length;i=i+4){
    		var numItemString=numItem.toString();
    		var idItem="#item"+numItemString+" ";
    		$( idItem+"#cantidadProducto").append(datosDoc[i+2]);
    		$( idItem+"#nombreProducto").append(datosDoc[i]);
    		$( idItem+"#precioProducto").append(datosDoc[i+1]);
    		$( idItem+"#totalProducto").append(datosDoc[i+3]);
    		numItem=numItem+1;
    	}
	}
    });
    
	   $.ajax({
	url : "datos.txt",
	dataType: "text",
	success : function (data) {
		console.log('entre');
	    $(".text").html(data);
	    var nuevo=data;
	    datosEmpresa=toArray(nuevo);
  		$( "#nombreEmpresa").append(datosEmpresa[0]);
  		$( "#rubroEmpresa").append(datosEmpresa[1]);
  	    $( "#titularEmpresa").append(datosEmpresa[2]);
  	    $( "#direccionEmpresa").append(datosEmpresa[3]);
	 	$( "#rucPrincipal").append(datosEmpresa[4]);
	}
    });
    $.ajax({
	url : "nro_boleta.txt",
	dataType: "text",
	success : function (data) {
		console.log('entre');
	    $(".text").html(data);
	    var nro='001 -  N°00000';
	    var nuevo=data;
		nro=nro+nuevo;
		$( "#nroBoleta").append(nro);
		}
    });
}); 
</script>
    

  </head>
  <body>
    <div id="capa3">
      <div id="logo">
	<img src="logo.jpg"  alt="">
      </div>

      <div id="capa1" style="">
	<h1 id="nombreEmpresa" style="text-shadow: 0.12em 0.1em 0.1em  gray; text-transform: uppercase; font-size: 31px;"> </h1>
	
	<p id="rubroEmpresa" style="line-height:10px; font-size: 14px; font-weight: bold; line-height: 12px; margin-top: 0px; padding-bottom: 10px;"></p>
	
	<h4 id="titularEmpresa" style="
		   line-height: 12px;
		   font-size: 15px;
		   font-weight: normal;
		   border: 1px;
		   border-top-style: solid;
		   border-bottom-style: solid;
		   height: auto;
		   /* width: 175px; */
		   min-height: 20px;
		   padding-top: 10px;
		   margin-top: -10px;
		   margin-bottom: 14px; padding-bottom: 10px;"> </h4>
	<p id="direccionEmpresa" style="font-weight: normal; margin-top: -10px; font-size: 13px padding-bottom; line-height: 12px;"> </p>
      </div>

      <div id="capa4">
	<h2 id="rucPrincipal" style="letter-spacing: -1px;"> </h2>
	<h2 style="letter-spacing: 10px;">BOLETA</h2>
	<h3 id="nroBoleta" style='letter-spacing: 0.1em;font-size: 23px;font-family: "Courier New", Courier, monospace;'></h3>
<br>
      </div>
      
    </div>
    <div id="capa2" style="">
      <div class="container" style="width: 100%">
	<table class="table table-bordered">
	  <tbody class="tablaNueva">
	    <tr>
    <td colspan="2" id="nombre">SEÑOR(ES): </td>
	    </tr>
	    <tr>
	      <td colspan="2" id="direccion">DIRECCIÓN: </td>
	    </tr>
	    <tr>
	      <td class="col-md-7" id="ruc" style="width: 500px;">
		DNI:
	      </td>
	      <td id="fecha">
		FECHA: 
	      </td>
	    </tr>
	  </tbody>
	</table>


      </div>

      
      <div class="container" style="width: 100%; ">
	<table class="table table-bordered" >
	  <thead>
	    <tr>
	      <th>CANT.</th>
	      <th>NOMBRE/DESCRIPCIÓN</th>
	      <th>P. UNITARIO </th>
	      <th>IMPORTE </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr id="item1">
	      <td id="cantidadProducto" width="70" class="cent">&nbsp;</td> 
	      <td id="nombreProducto"></td>
	      <td id="precioProducto" width="116" class="der"></td>
	      <td id="totalProducto" width="116" class="der"></td>	
	    </tr>
	    <tr>
	      <td colspan="2" rowspan="3"  style="border-style: hidden; border-top-style: solid; border-right-style: solid;" ></td> 
	      
	    </tr>
	    <tr>
	    </tr>
	    <tr>
	      
	      <td  class="gris" style="">TOTAL:</td>
	      <td id="total" width="116" class="der"></td>
	    </tr>
	  </tbody>


	</table>


      </div>
      <div id="info_adicional" style="margin-top: -45px; ">
    	<table class="table" style="text-align: center; border-top: hidden;">
    	  <tr>
    	    <td style="font-size: 11px; margin-left: 60px;">
    	      <p>RUC 12312321123</p>
    	      <p> Serie 001 del 0001 al 1000</p>
    	    </td>
    	    <td><p style="border-top: 1px solid #080808; width: 250px; margin-top: 40px; margin-left: 100px; padding-top: 10px;">CANCELADO </p></td>
    	  </tr>	
    	  
    	</table>
      </div>
  </body>
</html>
